/* .img{
    width: 50%;
} 
.flex-container {
    display: flex;
    align-items: center;
    margin-top: 20%; 

  }
  
  .fs-5 {
    flex: 1;
    margin-right: 20px;
 }
  
  .img {
    flex: 1;
  } */